$pageMargin: 5vw;

$lightBlue: #3dd2cc;
$black: #3e6b89;
$update: #9EF096;
$error: #A92C69;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

@mixin flex-x($wrap: nowrap) {
    display: flex;
    flex-direction: row;
    flex-wrap: $wrap;
    align-items: center;
}

@mixin flex-y($wrap: nowrap) {
    display: flex;
    flex-direction: column;
    flex-wrap: $wrap;
    align-items: center;
}

@mixin page-center($margins: $pageMargin) {
    width: calc(100vw - $margins * 2);
    margin-left: $margins;
    margin-right: $margins;
}

* {
    font-family: Montserrat, sans-serif;
    text-align: center;
    color: $black;
}

.text-blue {
    color: $lightBlue;
}

.text-white {
    color: #ffffff;
}

.update {
    color: $update;
}

.error {
    color: $error;
    font-weight: 700;
}

header {
    width: 100vw;
    height: 80px;
    background-color: #ffffff;
    border-bottom: $lightBlue 5px solid;
    position: fixed;
    top: 0;
    left: 0;
    nav {
        @include flex-x();
        @include page-center();
        justify-content: space-between;
        height: 100%;
        .links {
            @include flex-x();
            gap: 2vw;
        }
    }
}

body {
    padding-top: 80px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.screen {
    @include flex-y();
    width: 100%;
}

.logo {
    color: $lightBlue;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}

.icon {
    color: $black;
    font-size: large;
}

@for $i from 1 through 4 {
    .mt-#{$i} {
        margin-top: calc($i * 10);
    }

    .mb-#{$i} {
        margin-bottom: calc($i * 10);
    }

    .ml-#{$i} {
        margin-left: calc($i * 10);
    }

    .mr-#{$i} {
        margin-right: calc($i * 10);
    }
    
    .mx-#{$i} {
        margin-left: calc($i * 10);
        margin-right: calc($i * 10);
    }

    .mx-#{$i} {
        margin-top: calc($i * 10);
        margin-bottom: calc($i * 10);
    }
}

.btn {
    padding: 5px;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
    display: block;
    color: #ffffff;
    border: 2px solid;
    font-size: medium;
    font-weight: 700;
    border-radius: 5px;
    &-filled {
        background-color: $lightBlue;
        border: $lightBlue 2px solid;
        i {
            color: #ffffff;
        }
        &:hover {
            background-color: transparent;
            color: $lightBlue;
            i {
                color: $lightBlue;
            }
        }
    }
    &-error {
        background-color: transparent;
        border: $error 2px solid;
        color: $error;
        i {
            color: $error;
        }
        &:hover {
            background-color: $error;
            color: #ffffff;
            i {
                color: #ffffff;
            }
        }
    }
    &-update {
        background-color: transparent;
        border: $update 2px solid;
        color: $update;
        i {
            color: $update;
        }
        &:hover {
            background-color: $update;
            color: #ffffff;
            i {
                color: #ffffff;
            }
        }
    }
}

.form {
    border: $lightBlue solid 2px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    .fields {
        @include flex-y();
        gap: 20px;
        .blockInput {
            @include flex-y();
            width: 90%;
            .input {
                display: block;
                width: 90%;
                transition: 250ms;
                font-weight: 700;
                border: none;
                border-bottom: $lightBlue 2px solid;
                &:focus-visible {
                    width: 100%;
                    border-color: $black;
                    outline: none;
                }
                &:hover {
                    width: 100%;
                }
                &::placeholder {
                    color: #3e6b8980;
                    font-weight: 300;
                }
            }
        }
    }
}

.tbl {
    margin: 20px 0;
    border: $lightBlue 2px solid;
    border-collapse: collapse;
    thead {
        background-color: $lightBlue;
        border-color: #ffffff;
        th {
            font-weight: bold;
            color: #ffffff;
            border: #ffffff 2px solid;
        }
    }
    tbody {
        border: $lightBlue 2px solid;
        td {
            border: $lightBlue 2px solid;
        }
    }
    td, th {
        padding: 10px;
    }
    .actions {
        width: max-content;
        .btn {
            display: inline;
        }
    }
}

.hr {
    border: $lightBlue solid 1.5px;
    margin: 20px 0;
}